ICECAST_SOURCE_PASSWORD=change-me-source
ICECAST_ADMIN_PASSWORD=change-me-admin
ICECAST_RELAY_PASSWORD=change-me-relay

ICECAST_HOST=icecast
ICECAST_PORT=8000
ICECAST_USER=source

AUDIO_CODEC=libmp3lame
AUDIO_BITRATE=128k
AUDIO_CONTENT_TYPE=audio/mpeg
AUDIO_FORMAT=mp3
